nltk==3.2.5
notebook==5.7.0
numba==0.35.0
numpy==1.19.5
pandas==0.23.3
plotly==2.0.15
scikit-image==0.14.2
scikit-learn==0.19.1
scipy==1.2.1
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==1.1.13
typing_extensions==4.1.1